.modalBackground {
  width: 100vw;
  height: 100 vh;
  background-color: #F5F2E8;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modalContainer {
  background-color: #f0f0f0;
  display: flex;
  flex-direction: column;
  align-content: center;
  width: 80vmax;
  height: 44vmax;
  border: 2px solid #0A0D17;
  border-radius: 2px;
  margin: 4px;
  padding: 6px;
}

.buttonHeader {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  height: 5vmin;
}

.image {
  width: 60%;
  height: auto;
  margin: 5px;
}

.byline {
  font-size: 11px;
  font-style: italic;
}

.abstract {
  text-align: center;
  margin: 5px;
}
.xButton {
  border: none;
  font-weight: 700;
}

.mediaBox {
  display: flex;
  height:65%;
}

.contentBox {
  margin: 10px;
}

.buttonBox {
  width: 40%;
  display:flex;
  justify-content: center;
  align-items: center;
}

.readButton {
  border: #281b0d solid 1px;
}